$Anim-column-bg: rgba(#77F4FF, 0.25);

.Anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 0 40px;

  overflow: hidden;

  opacity: 0.6;
}

.Anim-column {
  background-color: $Anim-column-bg;
  display: inline-block;
  height: 100%;
}

.Anim-piece {
  width: 100px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

$pieces: (
  square: (100px, 100px, 50px, 50px),
  i: (50px, 200px, 25px, 100px),
  l: (150px, 100px, 75px, 50px),
  s: (150px, 100px, 75px, 50px),
  t: (150px, 100px, 75px, 50px),
);

@each $piece, $sizes in $pieces {
  .Anim-piece[data-name="#{$piece}"] .Anim-pieceImage {
    width: nth($sizes, 1);
    height: nth($sizes, 2);
    background-image: url('/images/pieces/#{$piece}@2x.png');
    background-size: 100% 100%;

    @include media('<desktop') {
      width: nth($sizes, 3);
      height: nth($sizes, 4);
    }
  }

  .Anim-piece[data-name="#{$piece}"] {
    width: nth($sizes, 1);
    height: nth($sizes, 2);

    @include media('<desktop') {
      width: nth($sizes, 3);
      height: nth($sizes, 4);
    }
  }

  // .Anim-piece[data-rotated] {
  //   width: nth($sizes, 2);
  //   height: nth($sizes, 1);
  // }
}
// .Anim-piece[data-rotated] .Anim-pieceImage {
//   transform: rotate(90deg);
//   transform-origin: 50% 50%;
// }

