.Footer {
  display: flex;

  background-color: $color-footer;
}

.Footer-credits,
.Footer-work {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: $Theme-spacing-small $Theme-spacing-default;
}

.Footer-credits {
  align-items: center;
}

.Footer-handcrafted {
  @include font-properties(subvisual, small);

  text-transform: uppercase;
}

.Footer-subvisual {
  @include font-properties(subvisual, base);

  text-transform: uppercase;

  color: inherit;
  text-decoration: none;
}

.Footer-copyright {
  @include font-properties(bodyText, extraSmall);

  opacity: 0.5;
}

@include media('>=tablet') {
  .Footer-credits {
    flex-basis: 70%;
    align-items: flex-start;
  }
}
