.IPhone {
  max-width: 100%;
  background-image: url("/images/white-iphone.png");
  background-repeat: no-repeat;
  position: relative;

  > * {
    position: absolute;
  }
}

.IPhone.small {
  background-size: contain;
  width: 246px;
  height: 428px;

  > * {
    top: 59px;
    left: 43px;
    width: 157px;
    height: 281px;
  }
}

.IPhone.large {
  background-size: 100% 100%;
  width: 643px;
  height: 966px;

  > * {
    top: 140px;
    left: 118px;
    width: 400px;
    height: 640px;
  }
}
