.IPhone {
  max-width: 100%;
  background-image: url("/images/iphone-frame.png");
  background-repeat: no-repeat;
  position: relative;

  > * {
    position: absolute;
  }
}

.IPhone.small {
  background-size: contain;
  width: 290px;
  height: 611px;

  > * {
    top: 88px;
    left: 24px;
    width: 245px;
    height: 435px;
  }
}

.IPhone.large {
  background-size: 100% 100%;
  width: 471px;
  height: 896px;

  > * {
    top: 128px;
    left: 38px;
    width: 400px;
    height: 640px;
  }
}
