.IPhone {
  max-width: 100%;
  background-image: url("/images/iphone-frame.png");
  background-repeat: no-repeat;
  position: relative;

  > * {
    position: absolute;
  }
}

.IPhone.small {
  background-size: contain;
  width: 188px;
  height: 397px;

  > * {
    top: 57px;
    left: 16px;
    width: 158px;
    height: 282px;
  }
}

.IPhone.large {
  background-size: 100% 100%;
  width: 471px;
  height: 896px;

  > * {
    top: 128px;
    left: 38px;
    width: 400px;
    height: 640px;
  }
}
