$color-bg-top: rgba(#364249, 0.2);
$color-bg-start: #2f5e76;
$color-bg-end: #0d2f44;
$color-bg-bottom: #222b30;

.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-image: radial-gradient(circle at 69% 29%, $color-bg-start, $color-bg-end);
  background-size: 100% 100%;

  position: relative;
}

.Layout-content {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Layout-content > :not(.Anim) {
  z-index: 10;
}
