.Space-base
  margin-bottom: $Theme-space-base

.Space-base\@mobile
  @include media('<desktop')
    margin-bottom: $Theme-space-base

.Space-small
  margin-bottom: $Theme-space-small

.Space-smallRight
  margin-right: $Theme-space-small

.Space-large
  margin-bottom: $Theme-space-large

.Space-huge
  @include media('<desktop')
    margin-bottom: 60px
  @include media('>=desktop')
    margin-bottom: 120px
