$color-black: #364249;

// Points of reassembly
@import 'include-media/dist/include-media';

$breakpoints: (
  'tablet': 650px,
  'smallDesktop': 850px,
  'desktop': 1024px
);

// Spacing
$Theme-space-large: 60px;
$Theme-space-base: 30px;
$Theme-space-small: 15px;

$Theme-grid-maxWidth: 1280px;
$Theme-grid-singleColumn-maxWidth: 600px;

// Typography
$Theme-typography-fontWeight-bold: 700;
$Theme-typography-fontWeight-medium: 500;
$Theme-typography-fontWeight-regular: 400;
